.box {
    width: 40%;
    margin: 0 auto;
    background: rgba(255,255,255,0.2);
    padding: 35px;
    border: 2px solid #fff;
    border-radius: 20px/50px;
    background-clip: padding-box;
    text-align: center;
}

.wgt-label {
    font-size: 14px;
    line-height: 1.3;
    font-weight: 600;
    color: #1d2327;
}

.wgt-input  {
    margin: 7px 1px;
    font-size: 20px;
    width: -webkit-fill-available;
}

.wgt-import-product-submit {
    color: white;
    padding: 0px 10px;
    float: right;
    background: green;
    border-radius: 4px;
    border: none;
    margin-top: 14px;
    height: 30px;
    cursor: pointer;
}

.wgt-import-product-submit:hover {
    background: #099303 ;
}


.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
}
.popup .close:hover {
    color: #06D85F;
}
.popup .content {
    max-height: 30%;
    overflow: auto;
    padding-top: 28px;
}
#popup {
    display: none;
}

#wgt-message-processing {
    display:none;
}

@media screen and (max-width: 700px){
    .box{
        width: 70%;
    }
    .popup{
        width: 70%;
    }
}


.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}
.lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: black;
}
.lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
}
@keyframes lds-spinner {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.show-loading {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: visible;
    opacity: 1;
    display: none;
    align-items: center;
    justify-content: center;
}
.wgt-loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-import-process {
    display: flex;
    width: 60%;
    font-style: italic;
    font-size: larger;
    line-height: 26px;
    margin-top: 40px;
    border: #000 solid 2px;
    border-radius: 4px;
    padding: 8px 0px 8px 16px;
    margin-right: 10px;
}

.product-status-label {
    width: 65%;
}
.product-status-value {
    width: 30%;
}

@media only screen and (max-width: 480px){
    .product-import-process {
        width: 96%;
    }

    #option_cron .popup {
        width: 80%;
    }
}

@media screen and (min-width: 1024px){
    .product-import-process {
        width: 60%;
    }

    #option_cron .popup {
        width: 25%;
    }
}
#loading {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: rgba(192, 192, 192, 0.5);
  background-image: url("https://i.stack.imgur.com/MnyxU.gif");
  background-repeat: no-repeat;
  background-position: center;
  margin-left: -20px;
}

.cron-label {
    width: 40%;
}

.cron-field {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

#option_cron {
    display: none;
}